<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>  
</p>

<h2>Test cases</h2>
<%= render "test_cases/table", test_cases: @problem.test_cases %>

<br>
<% if @problem_solution %>
  <%= link_to "Your Solution", solution_path(@problem_solution), class: "btn btn-pirate-skyblue" %>
<% else %>
  <%= simple_form_for(Solution.new) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.hidden_field :problem_id, value: @problem.id, class: "hidden" %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<% if can? :edit, @problem %>
  <div class="fixed-action-btn vertical">
    <%= link_to edit_problem_path(@problem), class: 'btn-floating btn-large btn-pirate-red' do %>
      <i class="large material-icons"> mode_edit </i>
    <% end %>
    <ul>
      <li>
        <%= link_to new_problem_test_case_path(@problem), class: "btn-floating green" do %>
          <i class="material-icons"> add </i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>