<h1>Tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start at</th>
      <th>End at</th>
      <% if can? :create, Tournament %>
        <th colspan="3"></th>
      <% else %>
        <th></th>  
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.title %></td>
        <td><%= tournament.start_at %></td>
        <td><%= tournament.end_at %></td>
        <td><%= link_to 'Show', tournament %></td>
        <% if can? :edit, tournament %>
          <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
          <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Tournament %>
  <div class="fixed-action-btn vertical">
    <%= link_to new_tournament_path, class: 'btn-floating btn-large green' do %>
      <i class="large material-icons"> add </i>
    <% end %>
  </div>
<% end %>
