<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @test_case.problem %>
</p>

<p>
  <strong>Input:</strong>
  <%= @test_case.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @test_case.output %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
