<p id="notice"><%= notice %></p>

<p>
  <strong>Solution:</strong>
  <%= @test_case_solution.solution %>
</p>

<p>
  <strong>Test case:</strong>
  <%= @test_case_solution.test_case %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_case_solution.status %>
</p>

<%= link_to 'Edit', edit_test_case_solution_path(@test_case_solution) %> |
<%= link_to 'Back', test_case_solutions_path %>
