<table>
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
      <% if can? :edit, @problem %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.input %></td>
        <td><%= test_case.output %></td>
        <% if can? :edit, @problem %>
          <td><%= link_to 'Show', [@problem, test_case] %></td>
          <td><%= link_to 'Edit', edit_problem_test_case_path(problem_id: @problem.id, id: test_case.id) %></td>
          <td><%= link_to 'Destroy', [@problem, test_case], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>