<table>
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.problem %></td>
        <td><%= test_case.input %></td>
        <td><%= test_case.output %></td>
        <td><%= link_to 'Show', test_case %></td>
        <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
        <td><%= link_to 'Destroy', test_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>