<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= link_to "##{@test_case.problem.id} - #{@test_case.problem.title}", problem_path(@problem) %>
</p>

<p>
  <strong>Input:</strong>
  <%= @test_case.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @test_case.output %>
</p>

<% if can? :edit, @test_case %>
  <div class="fixed-action-btn vertical">
    <%= link_to edit_problem_test_case_path([@problem, @test_case]), class: 'btn-floating btn-large btn-pirate-red' do %>
      <i class="large material-icons"> mode_edit </i>
    <% end %>
  </div>
<% end %>
