<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @test_case.problem %>
</p>

<p>
  <strong>Input:</strong>
  <%= @test_case.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @test_case.output %>
</p>

<%= link_to 'Edit', edit_problem_test_case_path([@problem, @test_case]) %> |
<%= link_to 'Back', problem_path(@problem) %>
