
<%= simple_form_for(@solution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :problem, value: @solution.problem %>
    <%= f.hidden_field :code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<pre id="code-editor" style="height: 150px;">def stuff(a: 1)
  return a * a
end

stuff(3).to_json
</pre>