
<%= simple_form_for(@solution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :problem_id, value: @solution.problem.id, class: "hidden" %>
    <%= f.hidden_field :code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<pre id="code-editor" style="height: 150px;">
  <% if @solution.code.blank? %>
#Parse the input variable and return a new result
#puts input
  <% else %>
<%= @solution.code %>
  <% end %>
</pre>