<p>
  <strong>Problem:</strong>
  <%= link_to "##{@solution.problem.id} - #{@solution.problem.title}", problem_path(@solution.problem) %>
</p>

<p>
  <strong>Code:</strong>
</p>
<pre id="code-editor" class="code-editor">
  <% if @solution.code.blank? %>
#Parse the input variable and return a new result
#puts input
  <% else %>
<%= @solution.code %>
  <% end %>
</pre>

<% if @solution.block_editor? %>
  <%= render "block_editor" %>
<% end %>

<%= simple_form_for(@solution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :code %>
  <%= f.association :language, include_blank: false %>
  <%= f.input :block_editor %>
  <%= f.button :submit %>
<% end %>

<h2>Tests</h2>

<%= link_to "Run Tests", tests_update_solution_path(@solution), class: 'btn btn-pirate-skyblue', remote: true %>

<div id="test_case_solutions">
  <%= render "test_case_solutions" %>
</div>

<% if can? :edit, @solution %>
  <div class="fixed-action-btn vertical">
    <%= link_to edit_solution_path(@solution), class: 'btn-floating btn-large btn-pirate-red' do %>
      <i class="large material-icons"> mode_edit </i>
    <% end %>
  </div>
<% end %>