<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @solution.code %>
</p>

<h2>Tests</h2>

<%= link_to "Run Tests", tests_update_solution_path(@solution), class: 'btn btn-pirate-skyblue', remote: true %>

<div id="test_case_solutions">
  <%= render "test_case_solutions" %>
</div>

<% if can? :edit, @solution %>
  <div class="fixed-action-btn vertical">
    <%= link_to edit_solution_path(@solution), class: 'btn-floating btn-large btn-pirate-red' do %>
      <i class="large material-icons"> mode_edit </i>
    <% end %>
  </div>
<% end %>