<h1>
  <%= link_to "#{@solution.problem.title}", problem_path(@solution.problem), class: "black-text" %>
</h1>
<p>
  <%= @solution.problem.description %>
</p>

<pre id="code-editor" class="code-editor">
  <% if @solution.code.blank? %>
#Parse the input variable and return a new result
#puts input
  <% else %>
<%= @solution.code %>
  <% end %>
</pre>

<% if @solution.block_editor? %>
  <%= render "block_editor" %>
<% end %>

<%= simple_form_for(@solution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :code %>
  <%= f.association :language, include_blank: false %>
  <%= f.input :block_editor %>
  <%= f.hidden_field :block_xml %>
  <% if can? :update, @solution %>
    <div class="fixed-action-btn vertical">
      <button type="submit" class= "btn-floating btn-large btn-pirate-skyblue">
        <i class="large material-icons"> save </i>
      </button>
    </div>
  <% end %>
<% end %>

<%= link_to "Run Tests", tests_update_solution_path(@solution), class: 'btn btn-pirate-skyblue', remote: true %>

<div id="test_case_solutions">
  <%= render "test_case_solutions" %>
</div>
